.giorno-attuale {
    -fx-background-color: #94b231;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Stile opzionale per le label */
.grid-pane Label {
    -fx-font-family: "Segoe UI", system-ui;
    -fx-font-size: 12px;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

/* Stile base per i bottoni laterali */
.bottone-laterale {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-cursor: hand;
    -fx-transition: 0.2s;
}

/* Effetto quando il mouse passa sopra */
.bottone-laterale:hover {
    -fx-text-fill: #d1d1d1;
    -fx-font-size: 13px;
}

/* Effetto quando il bottone viene cliccato */
.bottone-laterale:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* Il corpo del banner: Bianco, bordo verde, NO ombra */
.corpo-banner {
    -fx-background-color: white;
    -fx-background-radius: 20;

    -fx-border-color: #94b231;
    -fx-border-width: 3;
    -fx-border-radius: 20;

    -fx-padding: 25;
}

/* Bottone "Indietro" (Grigio chiaro con testo scuro) */
.btn-secondario {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #333333;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-min-width: 100;
}

/* Bottone "Associati ora" (Verde con testo bianco) */
.btn-primario {
    -fx-background-color: #94b231;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-min-width: 100;
}

.btn-rifiuto {
    -fx-background-color: #E81123;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-min-width: 100;
}

.button-close {
    -fx-background-color: transparent;
    -fx-text-fill: #95a5a6;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 50;
    -fx-padding: 2;
}

.button-close:hover {
    -fx-text-fill: white;
    -fx-background-color: #e74c3c;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

/* Colore della riga quando viene selezionata */
.list-view .list-cell:filled:selected {
    -fx-background-color: #94b231;
    -fx-text-fill: white;
}

/* Colore della riga quando il mouse ci passa sopra */
.list-view .list-cell:filled:hover {
    -fx-background-color: #e8f5e9;
    -fx-text-fill: black;
}

.text-area {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-text-alignment: center;
}

.text-area .content {
    -fx-background-color: transparent;
}